.contact-description {
  color: #fff;
  text-indent: 20px;
  font-size: 1.04em;
}

.contact-links {
  width: 320px;
}

.contact-links a{
  color: #fff;
  text-decoration: none;
  font-family: "Lobster Two", cursive;
  display: block;
  padding: 10px 5px;
  background-color: rgb(64, 32, 25);
  border-radius: 3px;
  border: 1px solid transparent;
  margin: 10px 0;
  text-align: left;
}

.contact-links a:hover {
  text-decoration: underline;
}
